.App {
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;
}

.titre {
  font-size: 4.5vh;
  font-weight: 600;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.place {
  font-size: 3vh;
  font-weight: 600;
  margin-bottom: 5vh;
  height: 3vh;
}

.placeRouge {
  color: red;
}

.placeVert {
  color: green;
}

.AppNormal {
  background-color: var(--background-normal);
}

.AppSpecial {
  background-color: var(--background-special);
}

.ResetButton {
  background-color: var(--reset-button);

  height: 10vh;
  width: 10vh;

  border: 5px solid var(--reset-button-bord);
  border-radius: 6vh;

  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5); /* Ajout de l'ombre */
}

.ChangeMode {
  background-color: var(--change-mode);

  height: 10vh;
  width: 10vh;

  border: 5px solid var(--change-mode-bord);
  border-radius: 6vh;

  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5); /* Ajout de l'ombre */
}

.OrdreBouton {
  background-color: var(--ordre-button);

  height: 10vh;
  width: 10vh;

  border: 5px solid var(--ordre-button-bord);
  border-radius: 6vh;

  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5); /* Ajout de l'ombre */
}

.CorbeilleImage {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 80%;
  margin-left: 10%;
  margin-top: 10%;
}

.OrdreImage {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 80%;
  margin-left: 10%;
  margin-top: 10%;

  transform: rotate(90deg) scaleY(-1);
}

.BoutonsHaut {
  display: flex;
  justify-content: space-around;
  
  width: 90vw;
}

.ChangeModeImage {
  margin-top: 10%;
  width: 80%;
}