.ParfumDiv {
    display: flex;

    justify-content: space-between;
    align-items: center;

    width: 95vw;
    height: 10vh;

    background-color: var(--fond-normal);

    border: 5px solid var(--bord-normal);
    border-radius: 5.5vh;

    margin-top: 1vh;

    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.4); /* Ajout de l'ombre */

}

.BoutonPlusMoins {
    display: flex;

    align-items: center;
    justify-content: center;
    text-align: center;

    font-size: 8vh;

    /* background-color: var(--ligne-normal); */
    background-color: var(--fond-normal);
    color: var(--bord-normal);

    height: 6.5vh;
    width: 8vh;

    padding-bottom: 1.5vh;

    border: 4px solid var(--bord-normal);
    border-radius: 5vh;

    margin-left: 1vw;
    margin-right: 1vw;

    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5); /* Ajout de l'ombre */
}

/* EGAL */

.BoutonPlusMoinsModeSpecialEgal {
    background-color: var(--fond-special);
    color: var(--bord-special);
    border: 4px solid var(--bord-special);
}

.ParfumDivModeSpecialEgal {
    background-color: var(--fond-special);
    border: 5px solid var(--bord-special);
}

/* SUPERIEUR */

.BoutonPlusMoinsModeSpecialPlus {
    background-color: var(--fond-special-plus);
    color: var(--bord-special-plus);
    border: 4px solid var(--bord-special-plus);
}

.ParfumDivModeSpecialPlus {
    background-color: var(--fond-special-plus);
    border: 5px solid var(--bord-special-plus);
}

/* INFERIEUR */

.BoutonPlusMoinsModeSpecialMoins {
    background-color: var(--fond-special-moins);
    color: var(--bord-special-moins);
    border: 4px solid var(--bord-special-moins);
}

.ParfumDivModeSpecialMoins {
    background-color: var(--fond-special-moins);
    border: 5px solid var(--bord-special-moins);
}

/* Disabled */

.BoutonPlusMoinsDisabled {
    background-color: var(--fond-special-disabled);
    color: var(--bord-special-disabled);
    border: 4px solid var(--bord-special-disabled);
}

.ParfumDivDisabled {
    background-color: var(--fond-special-disabled);
    border: 5px solid var(--bord-special-disabled);
}


.ParfumTextDiv {
    display: flex;
    flex-direction: column;
}

.ParfumText {
    font-size: 2.5vh;
}

.ParfumValue {
    font-size: 4vh;
    font-weight: bold;
}